{% extends "fiji/layout.html" %}
{% load static %}

{% block title %}Guide &#10023;{% endblock %}

{% block body %}
<div class="helping">
    <div class="helpdiv">
        <h1 class="helptitle">A Guide on Fiji</h1>
        <p style="margin-top: 4vh;">In the following paragraphs we'll take a look at the most asked questions when travelling to Fiji.</p>
        <h5 class="bold">- Where is Fiji located?</h5>
        <p>Fiji is a group of 333 volcanic islands that is located in the South Pacific, lying about 4,450 kilometres (2,765 mi) southwest of 
            Honolulu and 1,770 km (1,100 mi) north of New Zealand, scattered across 1,290,000 square kilometers (498,072 square miles) of ocean.</p>
        <h5 class="bold">- How hot is in Fiji?</h5>
        <p>There are two main season in Fiji: the wet season, between November and April, when temperatures sit around 22°C - 33°C (72°F - 
            92°F) and the dry season, between May and October, when temperatures range from 19°C to 29°C (66°F - 84°F).</p>
        <p>Careful! There are also two distinct rainfall regions in Fiji. The "Dry Zone" is located in Fiji's west, which receives less than 1700 
            mm of rain. In the "Wet Zone" in Fiji’s east, rainfall can vary from 3000mm around the coast up to 6000mm in the mountainous areas.
            Mind you, much of Fiji’s rain comes in the form of brief heavy localised showers. It does not rain all day every day during the wet 
            season as many people mistakenly believe!</p>
        <h5 class="bold">- How do I get to Fiji?</h5>
        <p>All foreign tourists travel by airplane to reach Fiji's coasts. Nadi International Airport is the main airport of Fiji, handling 96 per 
            cent of the country's total passengers annually. Located on the western side of Viti Levu (Fiji's main island), Nadi is the country's 
            tourism hub and offers a wide variety of accommodation, attractions, shopping, dining and entertainment. Nausori Airport is Fiji's 
            second International Airport and is situated on the eastern side of Viti Levu, just 30 minutes from Fiji’s capital Suva. There are also 
            thirteen smaller airports located on Fiji's outer islands used to visit the smaller and more isolated islands.</p>
        <h5 class="bold">- What is Fiji's time zone?</h5>
        <p>Straddling the 180th Meridian, Fiji is exactly 12 hours ahead of Greenwich Mean Time (GMT).  Daylight savings kicks in around November 
            to January, when Fiji moves one more hour ahead.</p>
        <h5 class="bold">- Which language is spoken in Fiji?</h5>
        <p>English is Fiji’s official language alongside Fijian and Hindustani. Most people in Fiji speak several languages, among them Western 
            and Eastern dialect and many other sub-dialects.</p>
        <h5 class="bold">- Do I need a VISA to visit Fiji?</h5>
        <p>Holders of passports from visa-exempt countries are granted Visitors visas valid for 4 months on arrival. Extensions can be made up to 
            6 months on the condition that applicants hold a valid passport (valid for 3 months beyond the intended period of stay in Fiji), 
            outward ticket and sufficient funds to facilitate duration of stay.</p>
        <p>Countries currently exempt from acquiring visas for entry are: Antigua & Barbuda, Argentina, Australia, Bahamas, Bangladesh, Barbados, 
            Belgium, Belize, Botswana, Brazil, Brunei, Bulgaria, 
            Canada, Chile, Columbia, Cyprus, Czech Republic, Denmark, Dominica, Estonia, Germany, Micronesia, Finland, France, Gambia, Ghana, 
            Greece, Grenada, Guyana, Hungary, Iceland, India, Indonesia, Israel, Italy, Jamaica, Japan, Kenya, Kiribati, Latvia, Liechtenstein, 
            Lesotho, Luxembourg, Malawi, Malaysia, Maldives, Malta, Mauritius, Mexico, Moldova, Monaco, Netherlands, New Zealand, Nigeria, Norway, 
            Pacific Islands, Paraguay, Peru, the Philippines, Poland, Portugal, Republic of Ireland, Romania, South Korea, Spain, Swaziland, Sweden, 
            Switzerland, Taiwan, Tanzania, Thailand, Tonga, Trinidad and Tobago, Tunisia, Turkey, Tuvalu, Uganda, Ukraine, United Kingdom, USA, 
            Uruguay, Venezuela, Yugoslavia, Zambia, Zimbabwe.</p>
        <h5 class="bold">- Are there any customs or traditions I must respect while in Fiji?</h5>
        <p>Outside hotels and resorts, people dress modestly - even more so when visiting a Fijian village. It’s best to visit one with a tour 
            guide as there are many traditional protocols to be observed. Religion-wise, Fiji’s religious beliefs reflect its multiculturalism.
            Christianity, Hinduism and Islam are peacefully practiced alongside each other.</p>
        <h5 class="bold">- Are there any health issues I should know about?</h5>
        <p>Fiji is free from malaria, yellow fever and major tropical diseases. Inoculations are required if you are travelling from an infected area.
            However, tropical areas can at times experience other mosquito-borne illnesses so it is advised that visitors use insect repellent and take 
            precautions to avoid being bitten.</p>
        <p>Small cuts and scrapes can easily become infected, particularly if the cut has been caused by making contact with coral. It’s always a good 
            idea to carry an antiseptic cream and ensure wounds are properly cleaned and treated as soon as possible.</p>
        <h5 class="bold">- What should I know about Fiji electricity-connectivity?</h5>
        <p>The local electric current is 240 volts AC 50Hz. Fiji’s three-pin power outlets are identical to Australia and New Zealand. Most 
            leading hotels and resorts have universal outlets for 240v or 110v shavers, hair dryers and other electrical appliances.</p>
        <p>Fiji’s country code is +679. Many hotels and resorts generally have direct dialling facilities (IDD). International mobile networks 
            like Vodafone Fiji Limited, Digicel and Inkk Mobile have a huge presence in Fiji making it relatively easy to connected. Free wifi is 
            available for 30mins at the Nadi Airport arrivals concourse and most major hotels also offer wifi. But you can also pick up a 
            temporary local sim card from any of their outlets at the airport or in major urban areas.</p>
        <h5 class="bold">- What is the national currency?</h5>
        <p>The Fijian dollar is the basic unit of currency with denominations of $5, $10, $20, $50 and $100. Coins are 5c, 10c, 20c, 50c, $1 and $2. 
            There is a 24 hour currency exchange service at the arrivals concourse at Nadi Airport and in major towns. Banks are open 9:00am to 
            4:00pm, Monday – Friday and 9:00am to 1:00pm on Saturdays at selected areas. ATMs are located around the country and at larger resorts 
            and hotels.</p>
        <h5 class="bold">- Can I drive around the island if I have a licence?</h5>
        <p>To hire a rental, a valid driver’s license is required. In Fiji, cars are right hand drives on the left side of the road. 
            Speed limits are 60km/h (37mph) and when passing residential areas such as villages, speed bumps reduce the rates to 
            40-50km/h (25mph-31mph) and on the highway, motorists can enjoy 80km/h (50mph) drive.</p>
        <h5 class="bold">- What should I pack for my Fiji holiday?</h5>
        <ul style="margin-left: -2vw;">
            <li>Sunscreen and aftersun products</li>
            <li>Insect repellent</li>
            <li>Rash shirt for extra reef-friendly sun protection</li>
            <li>Long-sleeved lightweight clothing for extra insect/sun protection</li>
            <li>If you plan on visiting a village, ladies should bring clothing that covers shoulders and knees (t-shirt and sarong work fine)</li>
            <li>A hat</li>
            <li>A book or Kindle</li>
            <li>At least two sets of bathers</li>
            <li>Hiking and reef shoes</li>
            <li>A small First-Aid kit containing antiseptic or antibiotic cream, anti-itch cream, pain medication, Savlon liquid or similar for 
                cleaning cuts and waterproof plasters</li>
            <li>Chargers or any power converters</li>
            <li>Copies of your travel documents and confirmations</li>
            <li>Combination of cash and debit/credit cards</li>
            <li>If you plan a village visit, you many also decide to bring some small donations for the local school</li>
        </ul>
    </div>
</div>
{% endblock %}